{% extends 'core/base.html' %}
{% block title %}Contact Us{% endblock title %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Contact Us</h1>
            <div class="content">
                <p>Have a question or need support? Reach out to us through the following channels:</p>
                <ul>
                    <li>Email: info@alfamart.com</li>
                    <li>Phone: +123456789</li>
                    <li>Address: The IUB, Bahawalpur, Pakistan</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}
